src/main/resources/xsd/account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://bank.com/account"
           xmlns="http://bank.com/account"
           elementFormDefault="qualified">

    <xs:element name="Account" type="AccountType"/>

    <xs:complexType name="AccountType">
        <xs:sequence>
            <xs:element name="accountNumber" type="xs:string"/>
            <xs:element name="customerId" type="xs:string"/>
            <xs:element name="balance" type="xs:decimal"/>
            <xs:element name="currency" type="CurrencyType"/>
            <xs:element name="status" type="AccountStatus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="CurrencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="USD"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccountStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="BLOCKED"/>
            <xs:enumeration value="CLOSED"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>