src/main/resources/xsd/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://bank.com/customer"
           xmlns="http://bank.com/customer"
           elementFormDefault="qualified">

    <xs:element name="Customer" type="CustomerType"/>

    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>